@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efefef;
  max-width: 100vw;
  overflow-x: hidden;
}

.question {
  @apply text-gray-900 font-bold text-2xl pt-12 pb-12;
}

.answer {
  @apply text-center pb-12 text-xl;
}

.text_area {
  @apply p-2.5 w-full  text-gray-900 bg-gray-50 rounded-lg border border-gray-200;
}
